<form #form>
  <label>Pokemon name:</label>
  <input #pokemonName="ngModel" type="text" [(ngModel)]="pokemon.name" name="name">
  <br> <br>
  <div>Is Strong?</div>
  <label>
    True
    <input type="radio" name="isStrong" [value]="true" [ngModel]="pokemon.isStrong"
      (ngModelChange)="toggleIsStrong($event)" #pokemonStrong="ngModel">
  </label>
  <br>
  <label>
    False
    <input type="radio" name="isStrong" [value]="false" [ngModel]="pokemon.isStrong"
      (ngModelChange)="toggleIsStrong($event)" #pokemonStrong="ngModel">
  </label>
  <br><br>
  <label>
    Pokemon type:
    <select name="pokemonType" [(ngModel)]="pokemon.type">
      <option *ngFor="let pokemonType of pokemonTypes" [value]="pokemonType.value">
        {{ pokemonType.value }}
      </option>
    </select>
  </label>
</form>

<br>
<div>
  Your pokemon:
  {{ pokemon | json }}
</div>

<br>
<div>
  Errors:
  <p *ngIf="!pokemonName.touched">Fill out the form!</p>
  <p *ngIf="pokemonStrong.touched">touched!</p>
</div>